        <nav role="navigation" >
          <ul class="nav nav-pills" >
            <%# <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li> %>
            <span><%= link "Search", to: page_path(@conn, :index) %></span>
          </ul>

           <ul class="nav nav-pills" >
            <%# <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li> %>
            <span ><%= link "My Parkings", to: booking_path(@conn, :index) %></span>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">

            <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          </ul>

        </nav>