<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

  <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 14px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }
    
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }
    
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.top table td.title {
        font-size: 30px;
        line-height: 45px;
        color: #333;
    }
    
    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }
    
    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
    
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }
    
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    
    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    
    .rtl table {
        text-align: right;
    }
    
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    </style>
    
 <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="3">
                    <table>
                        <tr>
                            <td class="title">
                                <img src='/images/logo.png' style="width:100%; max-width:300px;">
                            </td>
                            
                            <td>
                                Invoice #: <%= @payment.id %><br>
                                Created: <%= @payment.payment_date %><br>
                                Due: <%= @payment.due_date %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Sparksuite, Inc.<br>
                                12345 Sunny Road<br>
                                Sunnyville, CA 12345
                            </td>
                            
                            <td>
                                Acme Corp.<br>
                                John Doe<br>
                                john@example.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
              <%# <tr class="heading">
                  <td>
                      Payment Method
                  </td>
                  
                  <td>
                      Check #
                  </td>
              </tr> %>
            
            <%# <tr class="details">
                <td>
                    Check
                </td>
                
                <td>
                    1000
                </td>
            </tr> %>
            
            <tr class="heading">
                <td> Parking adress</td>
                
                <td>
                    duration
                </td>
                
                <td>
                    payment method
                </td>

                <td>
                    amount
                </td>

            </tr>
            
            <tr class="item">
                <td>
                    <%= Parko.Repo.get(Parko.Park,Parko.Repo.get(Parko.Booking,@payment.booking_id).park_id).address %>
                </td>
                
                <td>
                    <%= @payment.end_time -  @payment.start_time %> minutes
                </td>
                <td>
                    <%= Parko.Repo.get(Parko.Booking,@payment.booking_id).payment_method %>
                </td>
                
                <td>
                    <%= @payment.amount %> euro
                </td>                
            </tr>
            

            
            <tr class="total">
                <td></td><td></td><td></td>
                
                <td>
                   <%= @payment.amount %> euro
                </td>
            </tr>
        </table>
    </div>