<div class="row">
    <div class="well col-sm-offset-3 col-sm-6">
        <div class="imgstyle">
            <img src="/images/loginimage.png" alt="Login" class="imagestyle">   
        </div>

        <h3>Log in to get the best</h3>
        <div>
            <%= form_for @conn, session_path(@conn, :create), [as: :session], fn session -> %>
            <div class="form-group">
                <%= label session, :username, class: "control-label" %>
                <%= text_input session, :username, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= label session, :password, class: "control-label" %>
                <%= password_input session, :password, class: "form-control" %>
            </div>
            <div class="form-group">
                <div class="clearfix">
                    <%= submit "Log In", class: "btn btn-primary" %>
                </div> 
            </div>

            <% end %>

        </div>
    </div>
</div>