<template>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="3">
                    <table>
                        <tr>
                            <td class="title">
                                <img src='/images/logo.png' style="width:100%; max-width:300px;">
                            </td>
                            
                            <td>
                                Invoice #: {{ payment.id }} <br>
                                Created: {{ payment.payment_date }} <br>
                                Due: {{ payment.due_date }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="12">
                    <table>
                        <tr>
                            <td>
                                Sparksuite, Inc.<br>
                                12345 Sunny Road<br>
                                Sunnyville, CA 12345
                            </td>
                            
                            <td>
                                Acme Corp.<br>
                                John Doe<br>
                                john@example.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading">
                <td> Parking adress</td>
                
                <td>
                    duration
                </td>
                
                <td>
                    payment method
                </td>

                <td>
                    amount
                </td>

            </tr>
            
            <tr class="item">
                <td>
                    <!-- Parking Address -->
                </td>
                
                <td>
                    {{ payment.end_time }} -  {{ payment.start_time }} minutes
                </td>
                <td>
                    <!-- Payment Method  -->
                </td>
                
                <td>
                    {{ payment.amount }} euro
                </td>                
            </tr>
            

            
            <tr class="total">
                <td></td><td></td><td></td>
                
                <td>
                   {{ payment.amount }} euro
                </td>
            </tr>
        </table>
    </div>
  
</template>

<script>
export default {
    data: function() {
        return {
            payment: {}
        }
    }

}
</script>

<style>

</style>
