<template>
<div>


<div class="row">
<div class="well col-sm-offset-3 col-sm-6">
        <div class="imgstyle">
            <img src="/images/loginimage.png" alt="Login" class="imagestyle">   
         </div>

<h3>Log in to get the best</h3>
<div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" placeholder="Enter Username" id="username" v-model="un">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="text" class="form-control" placeholder="Enter Password" id="password" v-model="pw">
  </div>
  <!--<button type="submit" class="btn btn-default" @click="showAlert">Submit</button>-->
   <div class="clearfix">
      <a href="#/signup"> <button class="signupbtn"> Signup </button></a>
      <button class="loginbtn" v-on:click="login">Log in</button>
    </div>
</div>
</div>
</div>
</div>

</template>
<script>
import auth from "./auth";

export default {
    data: function () {
        return {
            un: "",
            pw: ""
        }
    },
    methods: {
        login: function() {
            // this.$alert.show({message: 'Clicked the button!' })
            console.log(`Username ${this.un}, password ${this.pw}`);
            auth.login(this, {username: this.un, password: this.pw}, "/");
        }

        
    }
}
</script>


