<template>
    <div>
        <div class="invoice-box">   
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="3">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src='/images/logo.png' style="width:100%; max-width:300px;">
                                </td>

                                <td>
                                    Invoice #: {{payment_info["invoice_no"]}}<br>
                                    Created: {{payment_info["payment_date"]}}<br>
                                    Due: {{payment_info["payment_date"]}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="information">
                    <td colspan="12">
                        <table>
                            <tr>
                                <td>
                                    Parko, Inc.<br>
                                    raatuse 22<br>
                                    Tartu, 51009, Estonia
                                </td>

                                <td>
                                    John Doe<br>
                                    john@example.com
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="heading">
                    <td> Parking adress</td>

                    <td>
                        Duration
                    </td>

                    <td>
                        Payment method
                    </td>

                    <td>
                        Amount
                    </td>

                </tr>

                <tr class="item">
                    <td>
                        {{payment_info["park_address"]}}
                    </td>

                    <td>
                        {{payment_info["end_time"] - payment_info["start_time"]}} minutes
                    </td>
                    <td>
                        {{payment_info["payment_method"]}}
                    </td>

                    <td>
                        {{payment_info["amount"]}} euro
                    </td>                
                </tr>



                <tr class="total">
                    <td></td><td></td><td></td>

                    <td>
                        {{payment_info["amount"]}} euro
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                payment_id: this.$route.params.data.payment_id,
                payment_info: this.$route.params.data.payment_info
            }
        },
        methods: {

        },
        mounted: function () {
           if (auth.user.username && auth.user.username.length > 0) {
                this.username = auth.user.username; //To check if a user is logged into the system
            }
            if (!this.$route.params.data.payment_id)
            {
                window.location = "/";
            }
            console.log(this.$route.params.data.payment_id);
            console.log(this.$route.params.data.payment_info["amount"]);
        }
    }
</script>

<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 14px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 30px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
</style>