
<template>
    <div>

        <h1 style="padding-left:25px">{{msg}}</h1>
        <div class="appBox" id="pomoApp" >
            <div class="timer"> 
                <div v-bind:class= "extendClass">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-12"> 
                            <label class="control-label" for="end_time">Do you want to extend? </label>
                        </div>
                        <div class="col-sm-2">
                            <input type="number"  min = "1" max = "24" class="form-control" id="end_time" v-model="extend_time" >
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" id = "extend" v-on:click="extendParking()">Extend</button>
                        </div>
                        <br/>
                    </div>      
                </div>  
               
                <div  style="padding-left:30px" class="stopwatch">Usage: <span>{{hour}}</span> : <span>{{min}}</span> : <span v-bind:class= "secClass">{{sec}}</span> </div>
            </div>
        </div>
        <div class="timer-ctrl" style="padding-left:25px; padding-top:20px;">
            <button type="button" class="btn btn-danger" v-on:click="endParking()" v-bind:class= "endClass" >End</button>
        </div> 
        <div v-if="showMessage">
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body no-padding-top">
                        <div class="row no-padding">
                            <div class="col-md-6 no-padding hidden-xs">
                        <img src="/images/Parkimismaja.jpg" class="img-responsive" alt="Cinque Terre">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-12" style="padding-top:20px">
								<h3 class="modal-title">{{title}}</h3>
                            </div>
                            <div class="col-sm-12 padding-top-5">
                                <div v-html="message"></div>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <router-link v-if="payment_id" class="btn btn-primary" :to="{name: 'show_payment', params: {data: {payment_id: payment_id, payment_info: payment_info}}}">Show invoice</router-link>
                    <button type="button" class="btn btn-primary" @click="showMessage=false">OK</button>			
                </div>
            </div>
        </div>
    </div></div></div></div>

    </div>
</template>

<script>
    import axios from 'axios';
    import auth from "./auth";
    const AUDIO = new Audio('https://www.dropbox.com/s/5d2dy8xr29246l3/KeyChimes.mp3?raw=1');
    export default {
        data: function () {
            return {
                booking_id: this.$route.params.data.booking_id,
                hour: "",
                min: "",
                sec: "",
                finished: false,
                endClass: "hidden",
                msg: "",
                extend_time: "",
                extendClass: "hidden",
                payment_method: null,
                secClass: "shown",
                showMessage: false,
                title: "",
                message: "",
                payment_id: "",
                payment_info: ""
            }
        },
        methods: {
            loadData: function () {
                let that = this;
                axios.post("/api/parking_elapse", {booking_id: this.booking_id})
                        .then(function (response) {
                            this.payment_method = response['data']['payment'];
                            var h = response['data']['elapse_h'];
                            var m = response['data']['elapse_m'];
                            var s = response['data']['elapse_s'];

                            //console.log( response['data']['payment']);
                            if (h < 10)
                            {
                                h = `0${h}`;
                            }
                            if (m < 10)
                            {
                                m = `0${m}`;
                            }
                            if (s < 10)
                            {
                                s = `0${s}`;
                            }
                            that.hour = h;
                            that.min = m;
                            that.sec = s;
                            var msg = response['data']['msg'];
                            that.msg = msg;
                            that.finished = response['data']['finished'];
                            console.log(response['data']);
                            console.log(that.payment_method);
                            if (that.payment_method == "HOURLY") {
                                if ((!that.finished) && (that.extendClass == "hidden" || that.secClass == "hidden")) {
                                    console.log("1");
                                    that.extendClass = "shown";
                                    that.secClass = "shown";
                                } else if (that.finished) {
                                    console.log("2");
                                    that.extendClass = "hidden";
                                }
                                console.log(response['data']['released']);
                                if (response['data']['notify']) {
                                    AUDIO.play();
                                }
                            } else {
                                console.log(that.finished);
                                console.log(that.endClass);
                                if ((!that.finished)) {
                                    that.endClass = "shown";
                                    that.secClass = "shown";
                                }
                            }

                            console.log(that.sec);

                        }.bind(this))
                        .catch(function (error) {

                        });
            },
            extendParking: function ()
            {
                var end = this.extend_time * 60

                axios.post("/api/parking_extend", {booking_id: this.booking_id, end: end})
                        .then(function (response) {
                            this.showMessage = true;
                            this.title = "Confirmation";
                            this.message = response['data']['msg'];
                            if (response['data']['payment_id'] != "")
                            {
                                this.payment_info = response['data']['payment_info'];
                                this.payment_id = response['data']['payment_id'];
                                this.message = this.message + "<br> And payment has been made! ";
                            }

                        }.bind(this))
                        .catch(function (error) {

                        });
            },
            endParking: function () {
                axios.post("/api/parking_finish", {booking_id: this.booking_id})
                        .then(function (response) {
                            var msg = response['data']['msg'];
                            this.msg = msg;
                            this.finished = true;
                            this.endClass = "hidden";
                            this.secClass = "hidden";

                            this.showMessage = true;
                            this.title = "Confirmation";
                            this.message = response['data']['msg'];
                            if (response['data']['payment_id'] != "")
                            {
                                this.payment_info = response['data']['payment_info'];
                                this.payment_id = response['data']['payment_id'];
                                this.message = this.message + "<br> And payment has been made!  ";
                            }

                        }.bind(this))
                        .catch(function (error) {

                        });
            },
        },

        mounted: function () {
            if (auth.user.username && auth.user.username.length > 0) {
                this.username = auth.user.username; //To check if a user is logged into the system
            }
            if (!this.$route.params.data.booking_id)
            {
                console.log(this.$route.params.data.booking_id);
                window.location = "/";
            }
            this.loadData();
            //console.log(this.payment_method)

            setInterval(function () {
                if (!this.finished)
                {
                    this.loadData();
                }

            }.bind(this), 1000);
        }
    }
</script>

<style>

</style>


